* {
  font-family: "Poppins", sans-serif;
}
.c-3 {
  height: 480px;
}
.card-btn-bg {
  background-color: #fef5fa;
}
.card-heading-text-color {
  color: #231d4f;
}
.heading-text-color {
  color: #0a0826;
}
